[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "<3,>=2"

[dev-packages]
prospector = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-runner = "*"
Sphinx = "*"
tox = "*"
codecov = "*"
